$background-color: #fdf1e5;
$foreground-color: #ffefd9;
$text-color: #3c3c3b;
$text-secondary-color: #a0a0a0;
$accent-color: #ce4a5c;


$color-engine: #41CFD9;
$color-language: #A541D9;
$color-framework: #546BF0;