$background-color: #ffe7e7;
$foreground-color: #fdf7f8;
$text-color: #59294f;
$text-secondary-color: #7c4170;
$accent-color: #ce4a5c;


$color-engine: #41CFD9;
$color-language: #A541D9;
$color-framework: #546BF0;