@import "colors";

.italics {
  font-style: italic;
}

.accent {
  color: $accent-color;
}

.d-none {
  display: none !important;
}

.force-align-items-left {
  align-items: flex-start !important;
  text-align: left !important;
}

.no-margin {
  margin: 0 !important;
}
