@import "colors";
@import "gallery";
@import "gallery_new";
@import "global";
@import "vs2015.min.css";

html {
  height: 100%;
  scrollbar-gutter: stable both-edges;
}

body {
  font: 17px "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 2em 0;

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;

    .pronouns {
      font-size: 0.5em;
      font-weight: normal;
      opacity: 65%;
    }

    &.welcome {
      margin-top: 0.5em;
      line-height: 0.75;
    }
  }

  h2, h3, h4, h5, h6 {
    color: $text-secondary-color;
  }

  #page-projects {
    max-width: 90%;
    margin: 0 auto;
  }

  .skill-page {
    max-width: 600px;
    margin: 0 auto 2em auto;
    padding: 0 20px 20px 20px;

    &-wide {
      @extend .skill-page;
      max-width: 1000px;
    }

    li[title] {
    }

    pre {
      overflow-x: auto;
      padding: 0 1em;
    }

    img, video {
      max-width: 100%;
    }
  }
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
  text-align: center;

  &-fill {
    width: 100%;
    max-width: 100%;
    @extend #banner;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .icon {
      padding: 10px;
      margin: 10px;
      color: $text-color;

      &:hover {
        color: $accent-color;
      }
    }
  }

  hr {
    width: 100%;
    margin: 1em 0;
  }
}

.navbar {
  a {
    color: $text-secondary-color;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;
      color: $accent-color;
    }
  }
}

.actual-language {
  color: $text-secondary-color;
}

.color-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;


  .color-legend-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0.5rem;

    .color-legend-item-color {
      width: 1rem;
      height: 1rem;
      border-radius: 0.5rem;
      margin-right: 0.5rem;
    }

    .color-legend-item-text {
      font-size: 0.8rem;
    }
  }
}

.icon-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .icon-legend-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0.5rem;

    .icon-legend-item-text {
      font-size: 0.8rem;

      i {
        color: $accent-color;
      }
    }
  }
}

a.button {
  display: inline-block;
  padding: 0.5em 0.5em;
  margin: 0.2em;
  border-radius: 0.2em;
  background-color: $accent-color;
  color: $foreground-color;
  font-size: 0.8em;
  text-decoration: none;
  min-width: 50px;

  &:hover {
    background-color: darken($accent-color, 10%);
  }

  &.popup-button {
    right: 0;
    position: absolute;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .popup-content {
    background-color: $background-color;
    padding: 20px;
    width: 95%;
    max-width: 1000px;
    max-height: 80%;
    overflow: auto;
    border-radius: 15px;
  }
}


.color-engine {
  background-color: $color-engine;
}

.color-language {
  background-color: $color-language;
}

.color-framework {
  background-color: $color-framework;
}


#fork {
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    padding: 1em;
    color: $text-secondary-color;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

#home-icon {
  @media screen and (min-width: 768px) {
    position: fixed;
    left: 0.5em;
    top: 0.5em;
    padding: 1em;
    color: $text-secondary-color;
  }

  @media screen and (max-width: 1150px) {
    display: none;
  }
}

footer {
  text-align: center;
  padding: 0.5em;
  margin: 0;
  color: $text-secondary-color;
}

.blog-gallery-entry a {
  color: inherit;
  text-decoration: none;
}

.subtitle {
  font-size: 0.8em;
  color: $text-color;
  opacity: 80%;
  margin: 0.5em 0;
}