<!DOCTYPE html>
<html lang="EN">

<head>
    <meta charset="utf-8">
    <title>Sofia Lindgren | Portfolio</title>
    <meta name="title" content="Sofia Lindgren | Portfolio"/>
    <meta name="description" content="Hi! I'm a backend developer with a passion for object-oriented design and system architecture, recently graduated in Computer and Systems Sciences from Stockholm University."/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://sofia.kiwi/"/>
    <meta property="og:title" content="Sofia Lindgren | Portfolio"/>
    <meta property="og:description" content="Hi! I'm a backend developer with a passion for object-oriented design and system architecture, recently graduated in Computer and Systems Sciences from Stockholm University."/>
    <meta property="og:image" content="/img/meta.png"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="/img/meta.png">
    <meta name="theme-color" content="#CE4A5C">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" sizes="any">

    <link rel="stylesheet" href="/style/sajber.me.css">
    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="js/marked.min.js"></script>
    <script src="js/highlight.min.js"></script>
    <script src="js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2db49cb13f.js" crossorigin="anonymous"></script>
</head>

<body class="container">
<a id="fork" title="View the source of this website." href="https://github.com/salmonslay/landing" target="_blank">
    <i class="fa-solid fa-code-branch fa-lg"></i>
</a>
<div id="banner">
    <h1>Hi! I'm
        <span class="accent">Sofia Lindgren</span>
    </h1>
    <p>
        I'm a backend developer with a passion for object-oriented design and system architecture,
        recently graduated in Computer and Systems Sciences from Stockholm University.
    </p>

    <div class="social-icons">
        <a class="icon" href="https://github.com/salmonslay" target="_blank">
            <i class="fa-brands fa-github fa-2xl"></i>
        </a>

        <a class="icon" href="mailto:hi@sofia.kiwi" target="_blank">
            <i class="fa-solid fa-envelope fa-2xl"></i>
        </a>

        <a class="icon" href="https://www.linkedin.com/in/lindgrensofias/" target="_blank">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>

        <a class="icon" href="https://stackoverflow.com/users/11420970" target="_blank">
            <i class="fa-brands fa-stack-overflow fa-2xl"></i>
        </a>
    </div>

    <hr>

    <div class="navbar">
        <a id="button-projects" class="nav-button active" onclick="setPage('projects')">Projects</a>
        <a id="button-skills" class="nav-button" onclick="setPage('skills')">Skills</a>
        <a id="button-courses" class="nav-button" onclick="setPage('courses')">Education</a>
    </div>

    <hr>
</div>

</body>

</html>
